.App {
  text-align: center;
}

.App-header,
.App-footer {
  background-color: #282c34;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 1vmin);
  color: white;
}

.App-main {
  height: 80vh;
}

.App-link {
  color: #61dafb;
}
